//MAIN COLORS
$primary: #1FCC79;
$secondary: #FF6464;

//TEXT COLORS
$main-text: #2E3E5C;
$secondary-text: #9FA5C0;

//OTHER COLORS
$outline: #D0DBEA;
$form: #F4F5F7;
$white: #FFFFFF;
$tab-active:#3E5481;
