.slider{
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    &__heads{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &-active{
            color: $primary;
        }
    }

    &-range{
        height: 12px !important;
        color: $primary !important;

        .MuiSlider-rail{
            background: $outline !important;
        }
    }
}